.doings-button{
    background: transparent;
    border: none;
    display: inline-block;
    color: #ff0005;
    border-bottom: 1px solid transparent;
}
.doings-button-area{
    display: inline-block;
}
.doings-button:hover{
   cursor: pointer;
    border-bottom: 1px solid #ff0005;
}
.edit-button a{
    text-decoration: none;
    display: inline-block;

}
.edit-button{
  display: inline-block;
}
.edit-button-link:hover{
  text-decoration: none;
}
.edit-button:hover{
    cursor: pointer;
    border-bottom: 1px solid #1f6fb2;
}
.add-dep-er{
    display: inline-block;
    color:#ff0005;
    padding-left: 20px;
    font-size: 20px;
}
.label{
    display: inline-block;
}
.edit-b{
    display: inline-block;
}
